// Import partials here
@import 'base.normalize';
@import 'settings.variables';
@import 'settings.responsive';
@import 'components.content';

//Global Styles

* {
  box-sizing: border-box;
}

.main {
  padding: 0;
}

img {
  width: 100%;
}

h2 {
  font-size: 2em;
}

//Card Styles

.card-container {
  border: 5px solid $border-color;
  margin: 16px;
  padding: 16px;
  text-align: center;
}

.profile-base {
  margin-bottom: 15px;

  img {
    display: block;
    border-radius: 100%;
    width: 75%;
    max-width: 350px;
    margin: 30px auto;
  }

  h2 {
    color: $type-color;
    font-size: 2em;
    margin-bottom: 0;
  }

  p {
    color: $type-color;
    margin-top: 15px;
    font-size: 1.25em;
    font-style: italic;
  }

}

.profile-deets {
  margin: 16px;
  text-align: left;
  background-color: $container-color;
  display: inline-block;
  margin: auto;
  padding: 30px;

  h3, p {
    display: inline;
    color: $type-color;
  }

  div {
    margin-top: 10px;
    margin-bottom: 10px;
  }

}

.linked {
  display: flex;
}

img[src="img/linkedin.svg"] {
  width: 35px;
  margin-right: 10px;
}

//Media Query

@media screen and (min-width:750px) {

  //Card Styles

  .card-container{
    display: flex;
    border: 30px solid $border-color;
    margin: 48px;
  }

  .profile-deets{
    width: 55%;
  }

}
